@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: auto; */
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font{
  font-family: "Poppins", sans-serif;
  font-weight: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}



/* common use stylee */
.display-flex{
    display: flex;
}

.description{
    font-size: 1.1rem;
font-weight: 400;
line-height: 28px;
}
.btn-primary{
border-radius: 5px;
background: rgba(255, 89, 89, 1);
padding: 16px 12px;
border: none;
color: rgba(255, 255, 255, 1);
font-size: 1.25rem;
font-weight: 600;
line-height: 24px;
}



/* header related styleee */
.header{
    min-height: 100vh;  
    background-image: url(../images/donation3.jpg);
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* filter: brightness(50%); */
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    flex-direction: column;

}

/* .header-content{
    text-align: center;
    max-width: 830px;
} */
.header-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 79px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
    max-width: 830px;

}
.header-description{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
    max-width: 680px;
}



/* donate related styless */
.donate{
    text-align: center;
    margin: 0 auto;
    max-width: 770px;
}
.donate-title{
    margin-top: 130px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    color: rgba(18, 18, 18, 1);
}
.donate-description{
    color: rgba(112, 112, 112, 1);
}

.card-container{
    gap: 22px;
    margin: 60px auto;
    justify-content: space-between;
}
.card{
    width: 136px;
    height: 123px;
    background-color: rgb(243, 240, 236);
    box-sizing: border-box;
    border: 2px solid rgb(215, 208, 208);
    border-radius: 5px;
    padding: 44px 22px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: rgba(112, 112, 112, 1);
}

.card-donate{
    color: rgba(255, 89, 89, 1);
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 89, 89, 1);
}

.other-amount{
    color: rgba(179, 179, 179, 1);
    margin-bottom: 9.5px;
    /* text-decoration: underline; */
}
.nd-btn{
    margin: 30px auto;
}



/* plan related stylee */
.donate-plan{
    text-align: center;
    /* margin: 0 auto; */
    /* max-width: 1400px; */
}
/* .our-donate-plan{
    max-width: 690px;
    text-align: center;
    margin: 0 auto;

} */
.plan-description{
    color: #121212;
    max-width: 690px;
    width: 100%;
    margin: 0 auto 50px;
}

.plan-card-container{
     margin: 0 auto 130px;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
}

.plan-card{
    background-color: rgba(4, 74, 82, 0.1);
    padding: 54px 22px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 5px;
}
.plan-card-2{
    background-color: rgba(207, 18, 18, 0.1);
}
.plan-card-3{
    background-color: rgb(247, 220, 182);
}
.card-pinture{
    margin-bottom: 32px;
}
.plan-card-title{
    font-size: 24px;
font-weight: 600;
    margin-bottom: 16px;
    color: rgba(18, 18, 18, 1);
}
.card-description{
    text-align: start;
    margin-bottom: 54px;
}


/* .donation{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin: 130px auto 0;
    max-width: 1200px;
    width: 100%;
    place-items: center;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    
} */
 /* .donation{
    text-align: center;
    border: 1px solid rebeccapurple;

 } */
 .donation-grid{
    max-width: 1100px;
    margin: 0 auto 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
    /* border: 1px solid firebrick; */
    padding-right: 97px;
 }
 .titlee{
    margin: 0;
 }
.donation-description{
    margin: 20px auto 0;
    color: #707070;
}
.donation-button{
    margin-top: 30px;
}
.photo{
     border-radius: 10px;
    /* max-width: 460px; */
    width: 100%;
    filter: brightness(70%);
}
.updates-section{
    text-align: center;
}
.update-description{
    color: #707070 ;
    max-width: 690px;
    width: 100%;
    margin: 0 auto 50px;
}

.info-box{
    background: #FFF4D6;
    padding: 75px 190px;
    border-radius: 8px;
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 130px;
}
.info-box input{
    max-width: 275px;
    width: 100%;
    background-color: #D9D9D9;
    border: none;
    border-radius: 3px;
    padding: 14px;
}
.Subscribe{
    font-size: 16px;
font-weight: 500;
line-height: 20px;
color: rgba(255, 255, 255, 1);
padding: 14px 44px;
}
.footer{
    text-align: center;
    background-color: #0B0D17;
}
.footer-title{
    padding: 44px 0;
    color: rgba(255, 89, 89, 1);
font-size: 36px;
font-weight: 400;
}
.footer-description{
    font-size: 14px;
font-weight: 400;
color: #D9DBE1;
margin-top: 24px;
}


@media screen and (max-width: 576px) {
   .card-container{
    flex-direction: column;
    align-items: center;
   } 
   .plan-card-container{
    grid-template-columns: repeat(1,1fr);
    width: 80%;
   }
}
