@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: auto; */
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font{
  font-family: "Poppins", sans-serif;
  font-weight: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}



/* common use stylee */
.display-flex{
    display: flex;
}

.description{
    font-size: 1.1rem;
font-weight: 400;
line-height: 28px;
}
.btn-primary{
border-radius: 5px;
background: rgba(255, 89, 89, 1);
padding: 16px 12px;
border: none;
color: rgba(255, 255, 255, 1);
font-size: 1.25rem;
font-weight: 600;
line-height: 24px;
}



/* header related styleee */
.header{
    min-height: 100vh;  
    background-image: url(../images/donation3.jpg);
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* filter: brightness(50%); */
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    flex-direction: column;

}

/* .header-content{
    text-align: center;
    max-width: 830px;
} */
.header-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 79px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
    max-width: 830px;

}
.header-description{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
    max-width: 680px;
}



/* donate related styless */
.donate{
    text-align: center;
    margin: 0 auto;
    max-width: 770px;
}
.donate-title{
    margin-top: 130px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    color: rgba(18, 18, 18, 1);
}
.donate-description{
    color: rgba(112, 112, 112, 1);
}

.card-container{
    gap: 22px;
    margin: 60px auto;
    justify-content: space-between;
}
.card{
    width: 136px;
    height: 123px;
    background-color: rgb(243, 240, 236);
    box-sizing: border-box;
    border: 2px solid rgb(215, 208, 208);
    border-radius: 5px;
    padding: 44px 22px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: rgba(112, 112, 112, 1);
}

.card-donate{
    color: rgba(255, 89, 89, 1);
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 89, 89, 1);
}

.other-amount{
    color: rgba(179, 179, 179, 1);
    margin-bottom: 9.5px;
    /* text-decoration: underline; */
}
.nd-btn{
    margin: 30px auto;
}
